@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 40px;  
    border-radius: 5px;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.text {
    color: #fff;
    font-size: .9rem;
    text-align: center;
    margin-top: 25px;
}

.text a {
    text-decoration: none;
    color: lightblue;
}

.text a:hover {
    color: rgb(145, 193, 209);
}

.btn {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(136, 194, 209);
    border: none;
    color: #fff;
    font-size: 14px;  
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn:active {
    transform: scale(98%);
    outline: none;
}

.form-controller {
    position: relative;
    margin: 40px 0;
}

.input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px 0;
}

.label {
    
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 0;
}

.label span {
    font-size: 12px;
    display: inline-block;
    min-width: 5px;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form-controller .input:active + label span, .form-controller .input:focus + label span {
    color: lightblue;
    transform: translateY(-25px);
}

 .input:active, .input:focus {
    outline: none;
    border-bottom-color: lightblue;
}