@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0 auto;
    background: #222;
}

.container {
    background: #fff;
    max-width: 100vw;
    min-height: 100vh;
    padding: 50px;
    transform-origin: top left;
    transition: transform 0.4s linear;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.container.show-nav .circle {
    transform: rotate(-70deg);
    transition: transform 0.3s ease-in;
}

.container.show-nav + nav ul li {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
    transition-delay: 0.2s;
}

nav {
    position: fixed;
    bottom: 10px;
    left: 5px;
    z-index: -100;
}

nav ul {
    list-style: none;
    margin-left: -10px;
}

nav ul li {
    color: #fff;
    margin: 25px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}

nav ul li i {
    margin-right: 10px;
    
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
    transition: transform 0.3s ease-in;
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;
}



.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background: #fa7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s ease-in;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: none;
    font-size: 26px;
    color: white;

}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform-origin: top left;
    transform: rotate(90deg);
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content p{
    line-height: 1.5rem;
}